<% if user_signed_in? %>
<br>
<h1>Editing <%=@publication.content_type %>  publication</h1>

	<%= render 'form', publication: @publication %>
	
	<%= link_to 'Show', @publication %> |

<% else %>

<h2><strong> We're Sorry! </strong></h2>
<p style="font-size:20px"> You don't have permission to access this page. </p>

<% end %>

<%= link_to 'Back', @publication %>
