<% provide(:title, "Home") %>

<h1>HOME</h1>

<% result = ActiveRecord::Base.connection.exec_query('SELECT * FROM forums') %>

<%= result.to_hash %>

<table>
	<tr>
		<th>ID</th>
		<th>TITLE</th>
		<th>DESCRIPTION</th>
	</tr>
	<% result.each do |row| %>
	<tr <% link_to row %>>
		<td><%= row['id'] %></td>
		<td><%= row['title'] %></td>
		<td><%= row['description'] %></td>
	</tr>
	<% end %>
</table>