<% provide(:title, "Home") %>

<h1>Forums</h1>

<table>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>Description</th>
	</tr>
	<% @forums.each do |forum| %>
	<tr>
        <td>  <%= link_to forum.id, forum %></td>
        <td>  <%= link_to forum.title, forum %></td>
        <td>  <%= forum.description %></td>
	</tr>
	<% end %>
</table>
