<% provide(:title, "Welcome") %>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">



<!-- Container WELCOME -->
<div class="row text-center welcome">
  <br>
  <h1>Welcome!</h1>
  <br>
  <button id="signUpBtn" class="welcome-link">Sign Up</button><br>
  <button id="logInBtn" class="welcome-link">Log In Modal</button>
  <div class="welcome-link" style="background-color:darkblue">
    <%= link_to(user_facebook_omniauth_authorize_path) do%>
    <h4>Sign In with Facebook</h4>
    <% end %>
  </div>
  <div class="welcome-link">
    <%= link_to(home_path) do%>
    <h4>Continue as Guest</h4>
    <% end %>
  </div>
  <br><br>

  <p>Upon registration you will be able to create new content and actively participate in the communities you want!</p>
  <p>Don't miss your chance to be a part of something great!</p>
  <br>
</div>
<%= render "modals/session" %>
<%= render "modals/registration" %>
<!-- Footer -->
<div class="row">
  <footer class="text-center">
    <p>Created by: Alfredo De Goyeneche, Yoav Navon, Alexander Israel</p>
    <p>IIC2143 - Ingeniería de Software - 2018-1 - Pontificia Universidad Católica de Chile (PUC)</p>
  </footer>
</div>



</body>
