<% provide(:title, "Welcome") %>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">//slashslash</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#band">BAND</a></li>
        <li><a href="#tour">TOUR</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Media</a></li> 
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container WELCOME -->
<div id="band" class="container text-center">
  <h3>WELCOME - //slashslash</h3>
  <h4><RP>SIGN UP</RP></h4>
  <p>Upon registration you will be able to create new content and actively participate in the communities you want!</p>
  <p>Don't miss your chance to be a part of something good!</p>
  <br>

</div>
<div style="text-align: center;">

  <form action="/users/new" accept-charset="UTF-8"" method="POST">

  	  <table style="margin: 0px auto;">
		<tr><th>First Name</th><th>Last Name</th><th>Username</th><th>Password</th></tr>

		<tr><td><input type="text" name="firstName" value="" placeholder="First Name" ></td><td><input type="text" name="lastName" value="" placeholder="Last Name"></td><td><input type="text" name="userName" value="" placeholder="Username"></td><td><input type="text" name="password" value="" placeholder="Password"></td></tr>

	  </table>
	  
		<br>
	  <input type="submit" value="Submit">
  </form> 
</div>
<br>

  

<!-- Footer -->
<footer class="text-center">
  <p>Created by: Alfredo Degoyeneche, Yoav Navon, Alexander Israel</p> 
  <p>IIC2143 - Ingenieria de Software - 2018-1 - Pontificia Universidad Católica de Chile (PUC)</p>
</footer>



</body>
