<% provide(:title, "Welcome") %>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">



<!-- Container WELCOME -->
<div class="text-center">
  <h3>WELCOME - //slashslash</h3>
  <%= link_to(new_user_registration_path) do%>
  <h4><RP>SIGN UP</RP></h4>
  <% end %>
  <%= link_to(new_user_session_path) do%>
  <h4><RP>LOG IN</RP></h4>
  <% end %>
  <p>Upon registration you will be able to create new content and actively participate in the communities you want!</p>
  <p>Don't miss your chance to be a part of something good!</p>
  <br>
</div>
<br>

<!-- Footer -->
<footer class="text-center">
  <p>Created by: Alfredo Degoyeneche, Yoav Navon, Alexander Israel</p>
  <p>IIC2143 - Ingenieria de Software - 2018-1 - Pontificia Universidad Católica de Chile (PUC)</p>
</footer>



</body>
