// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.search {
  width: 80%;
  padding: 10px;
  margin: auto;
  margin-top: 0px;
}

.search-form{
  border: 1px solid gray;
  text-align: center;
  .form-control {
    width: 30%;
    padding: 2px;
  }
}

.top-results{
  width: 90%;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}

.top{
    h2{
    text-align: center;
  }
}

.votes-green {
  color: rgb(115, 196, 128);
}

.votes-red {
  color: rgb(184, 49, 49);
}

.search-result{
  border: 1px solid gray;

  h2, h3, h4, h5 {
    display: inline-block;

  }
}

.btn-primary {
  border-radius: 5px;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}


.welcome-link{
  text-decoration: none !important;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 30px;
  &:hover{

  }
}


table {
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}
tr:hover {background-color:#f5f5f5;}
