// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

.search {
  width: 80%;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}

.search-form{
  border: 1px solid gray;
  text-align: center;
  .form-control {
    width: 30%;
    padding: 2px;
  }
}

.top-results{
  width: 80%;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: auto;
}

.top{
    h2{
    text-align: center;
  }
}

.votes-green {
  color: rgb(115, 196, 128);
  text-align: center;
}

.votes-red {
  color: rgb(184, 49, 49);
  text-align: center;
}

.search-result{
  border: 1px solid gray;

  h2, h3, h4, h5 {
    display: inline-block;

  }
}

.btn-primary {
  border-radius: 5px;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}


.welcome-link{
  text-decoration: none !important;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 30px;
  &:hover{

  }
}


table {
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
}
tr:hover {background-color:#f5f5f5;}


.digg_pagination {
  background: s;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
