// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrows{
  // .btn{
  //   padding: 0;
  //   width: 20px;
  // }
  form, .box {
    display: block;
  }
  .box {
    border: 1px solid gray;
    border-radius: 5px;
    width: 40px;
    text-align: center;
  }


}

.scroll {
    height: 300px; /* or any value */
    overflow-y: auto;

}

#right {
    border-left: 1px solid black;
    padding-left: 20px;
}

.publication-meta{
  color: white;
  background-color: rgb(24, 40, 70);
  padding: 5px;
}

.publication-score{
}

.score{
  text-align: center;
}

.submit-icon-green, .submit-icon-red{
  background: transparent;
  border: none;
}

.submit-icon-green:hover{
  color: rgb(64, 222, 113);
}
.submit-icon-red:hover{
  color: rgb(222, 64, 64);
}

.green{
  color: rgb(64, 222, 113);
}
.red{
  color: rgb(222, 64, 64);
}
