// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrows{
  margin: auto;
  text-align: center;
}

.scroll {
    height: 300px; /* or any value */
    overflow-y: auto;

}

#right {
    border-left: 1px solid black;
    padding-left: 20px;
}

.publication-meta{
  color: white;
  background-color: rgb(24, 40, 70);
  padding: 5px;
}

.publication-score{
  padding: 0px;
}

.score{
  text-align: center;
}

.submit-icon-green, .submit-icon-red, .submit-icon-empty, .submit-icon-full{
  background: transparent;
  border: none;
}

.submit-icon-empty:hover{
  color: rgb(201, 195, 35);
}
.submit-icon-full{
  color: rgb(201, 195, 35);
}

.submit-icon-green:hover{
  color: rgb(64, 222, 113);
}
.submit-icon-red:hover{
  color: rgb(222, 64, 64);
}

.green{
  color: rgb(64, 222, 113);
}
.red{
  color: rgb(222, 64, 64);
}
