// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.requests{
  width: 70%;
  margin: auto;
  vertical-align: middle;
  .button {
    margin-top: 15px;
  }
}

.request{
}
