// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark-color : #2d2d30;

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    margin: 0 auto;
    padding: 0;
}

footer {
    background-color: $dark-color;
    color: #f5f5f5;
    padding: 32px;
    margin: 0 !important;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}

.content {
  margin-top: 50px;
}

.welcome {
  min-height: 400px;
}

.welcome-link {
  background-color: $dark-color;
  width: 300px;
  margin: 0 auto;
  margin-top: 0.25cm;
  padding-top: 0.01cm;
  padding-bottom: 0.01cm;
  border-radius: 0.2cm;
  a:hover{
    text-decoration: none;
  }
  h4{
    margin-top: 10px;
    color: white;

  }
  &:hover{
    opacity: 0.8;
  }
}

button.welcome-link {
  font-size: 20px;
}
